CONFIG_TARGET_ramips=y
CONFIG_TARGET_ramips_mt7621=y
CONFIG_TARGET_ramips_mt7621_DEVICE_phicomm_k2p=y
CONFIG_GNUTLS_ALPN=y
CONFIG_GNUTLS_ANON=y
CONFIG_GNUTLS_CRYPTODEV=y
CONFIG_GNUTLS_DTLS_SRTP=y
CONFIG_GNUTLS_HEARTBEAT=y
CONFIG_GNUTLS_OCSP=y
CONFIG_GNUTLS_PSK=y
CONFIG_LIBCURL_COOKIES=y
CONFIG_LIBCURL_CRYPTO_AUTH=y
CONFIG_LIBCURL_FILE=y
CONFIG_LIBCURL_FTP=y
CONFIG_LIBCURL_HTTP=y
CONFIG_LIBCURL_NGHTTP2=y
CONFIG_LIBCURL_OPENSSL=y
CONFIG_LIBCURL_PROXY=y
CONFIG_LIBCURL_TFTP=y
CONFIG_LIBCURL_THREADED_RESOLVER=y
CONFIG_LIBCURL_TLS_SRP=y
CONFIG_LIBCURL_UNIX_SOCKETS=y
CONFIG_PACKAGE_TURBOACC_INCLUDE_BBR_CCA=y
CONFIG_PACKAGE_alsa-lib=y
CONFIG_PACKAGE_alsa-ucm-conf=y
CONFIG_PACKAGE_alsa-utils=y
CONFIG_PACKAGE_automount=y
CONFIG_PACKAGE_avahi-dbus-daemon=y
CONFIG_PACKAGE_bluez-libs=y
CONFIG_PACKAGE_curl=y
CONFIG_PACKAGE_dbus=y
CONFIG_PACKAGE_ddns-scripts=y
CONFIG_PACKAGE_ddns-scripts-cloudflare=y
CONFIG_PACKAGE_ddns-scripts-services=y
CONFIG_PACKAGE_e2fsprogs=y
CONFIG_PACKAGE_glib2=y
CONFIG_PACKAGE_gmediarender=y
CONFIG_PACKAGE_gst1-mod-adder=y
CONFIG_PACKAGE_gst1-mod-adpcmdec=y
CONFIG_PACKAGE_gst1-mod-adpcmenc=y
CONFIG_PACKAGE_gst1-mod-aiff=y
CONFIG_PACKAGE_gst1-mod-alaw=y
CONFIG_PACKAGE_gst1-mod-alpha=y
CONFIG_PACKAGE_gst1-mod-alsa=y
CONFIG_PACKAGE_gst1-mod-apetag=y
CONFIG_PACKAGE_gst1-mod-app=y
CONFIG_PACKAGE_gst1-mod-asfmux=y
CONFIG_PACKAGE_gst1-mod-audiobuffersplit=y
CONFIG_PACKAGE_gst1-mod-audioconvert=y
CONFIG_PACKAGE_gst1-mod-audiofx=y
CONFIG_PACKAGE_gst1-mod-audiofxbad=y
CONFIG_PACKAGE_gst1-mod-audiolatency=y
CONFIG_PACKAGE_gst1-mod-audiomixer=y
CONFIG_PACKAGE_gst1-mod-audiomixmatrix=y
CONFIG_PACKAGE_gst1-mod-audioparsers=y
CONFIG_PACKAGE_gst1-mod-audiorate=y
CONFIG_PACKAGE_gst1-mod-audioresample=y
CONFIG_PACKAGE_gst1-mod-audiotestsrc=y
CONFIG_PACKAGE_gst1-mod-audiovisualizers=y
CONFIG_PACKAGE_gst1-mod-auparse=y
CONFIG_PACKAGE_gst1-mod-autoconvert=y
CONFIG_PACKAGE_gst1-mod-autodetect=y
CONFIG_PACKAGE_gst1-mod-avi=y
CONFIG_PACKAGE_gst1-mod-bayer=y
CONFIG_PACKAGE_gst1-mod-bluez=y
CONFIG_PACKAGE_gst1-mod-camerabin=y
CONFIG_PACKAGE_gst1-mod-coloreffects=y
CONFIG_PACKAGE_gst1-mod-compositor=y
CONFIG_PACKAGE_gst1-mod-cutter=y
CONFIG_PACKAGE_gst1-mod-debug=y
CONFIG_PACKAGE_gst1-mod-debugutilsbad=y
CONFIG_PACKAGE_gst1-mod-dtls=y
CONFIG_PACKAGE_gst1-mod-dtmf=y
CONFIG_PACKAGE_gst1-mod-dvbsubenc=y
CONFIG_PACKAGE_gst1-mod-dvbsuboverlay=y
CONFIG_PACKAGE_gst1-mod-dvdspu=y
CONFIG_PACKAGE_gst1-mod-effectv=y
CONFIG_PACKAGE_gst1-mod-encoding=y
CONFIG_PACKAGE_gst1-mod-equalizer=y
CONFIG_PACKAGE_gst1-mod-faad=y
CONFIG_PACKAGE_gst1-mod-faceoverlay=y
CONFIG_PACKAGE_gst1-mod-fbdevsink=y
CONFIG_PACKAGE_gst1-mod-festival=y
CONFIG_PACKAGE_gst1-mod-fieldanalysis=y
CONFIG_PACKAGE_gst1-mod-flac=y
CONFIG_PACKAGE_gst1-mod-flv=y
CONFIG_PACKAGE_gst1-mod-flxdec=y
CONFIG_PACKAGE_gst1-mod-freeverb=y
CONFIG_PACKAGE_gst1-mod-frei0r=y
CONFIG_PACKAGE_gst1-mod-gaudieffects=y
CONFIG_PACKAGE_gst1-mod-gdp=y
CONFIG_PACKAGE_gst1-mod-geometrictransform=y
CONFIG_PACKAGE_gst1-mod-gio=y
CONFIG_PACKAGE_gst1-mod-goom=y
CONFIG_PACKAGE_gst1-mod-goom2k1=y
CONFIG_PACKAGE_gst1-mod-hls=y
CONFIG_PACKAGE_gst1-mod-icydemux=y
CONFIG_PACKAGE_gst1-mod-id3demux=y
CONFIG_PACKAGE_gst1-mod-id3tag=y
CONFIG_PACKAGE_gst1-mod-imagefreeze=y
CONFIG_PACKAGE_gst1-mod-inter=y
CONFIG_PACKAGE_gst1-mod-interlace=y
CONFIG_PACKAGE_gst1-mod-interleave=y
CONFIG_PACKAGE_gst1-mod-isomp4=y
CONFIG_PACKAGE_gst1-mod-ivfparse=y
CONFIG_PACKAGE_gst1-mod-ivorbisdec=y
CONFIG_PACKAGE_gst1-mod-ivtc=y
CONFIG_PACKAGE_gst1-mod-jp2kdecimator=y
CONFIG_PACKAGE_gst1-mod-jpeg=y
CONFIG_PACKAGE_gst1-mod-jpegformat=y
CONFIG_PACKAGE_gst1-mod-lame=y
CONFIG_PACKAGE_gst1-mod-legacyrawparse=y
CONFIG_PACKAGE_gst1-mod-level=y
CONFIG_PACKAGE_gst1-mod-matroska=y
CONFIG_PACKAGE_gst1-mod-midi=y
CONFIG_PACKAGE_gst1-mod-monoscope=y
CONFIG_PACKAGE_gst1-mod-mpegpsdemux=y
CONFIG_PACKAGE_gst1-mod-mpegpsmux=y
CONFIG_PACKAGE_gst1-mod-mpegtsdemux=y
CONFIG_PACKAGE_gst1-mod-mpegtsmux=y
CONFIG_PACKAGE_gst1-mod-mpg123=y
CONFIG_PACKAGE_gst1-mod-mulaw=y
CONFIG_PACKAGE_gst1-mod-multifile=y
CONFIG_PACKAGE_gst1-mod-multipart=y
CONFIG_PACKAGE_gst1-mod-mxf=y
CONFIG_PACKAGE_gst1-mod-navigationtest=y
CONFIG_PACKAGE_gst1-mod-netsim=y
CONFIG_PACKAGE_gst1-mod-ogg=y
CONFIG_PACKAGE_gst1-mod-opus=y
CONFIG_PACKAGE_gst1-mod-opusparse=y
CONFIG_PACKAGE_gst1-mod-oss4=y
CONFIG_PACKAGE_gst1-mod-ossaudio=y
CONFIG_PACKAGE_gst1-mod-overlaycomposition=y
CONFIG_PACKAGE_gst1-mod-pbtypes=y
CONFIG_PACKAGE_gst1-mod-pcapparse=y
CONFIG_PACKAGE_gst1-mod-playback=y
CONFIG_PACKAGE_gst1-mod-png=y
CONFIG_PACKAGE_gst1-mod-pnm=y
CONFIG_PACKAGE_gst1-mod-proxy=y
CONFIG_PACKAGE_gst1-mod-rawparse=y
CONFIG_PACKAGE_gst1-mod-removesilence=y
CONFIG_PACKAGE_gst1-mod-replaygain=y
CONFIG_PACKAGE_gst1-mod-rfbsrc=y
CONFIG_PACKAGE_gst1-mod-rtp=y
CONFIG_PACKAGE_gst1-mod-rtpmanager=y
CONFIG_PACKAGE_gst1-mod-rtponvif=y
CONFIG_PACKAGE_gst1-mod-rtsp=y
CONFIG_PACKAGE_gst1-mod-sbc=y
CONFIG_PACKAGE_gst1-mod-sdpelem=y
CONFIG_PACKAGE_gst1-mod-segmentclip=y
CONFIG_PACKAGE_gst1-mod-shapewipe=y
CONFIG_PACKAGE_gst1-mod-shm=y
CONFIG_PACKAGE_gst1-mod-shout2=y
CONFIG_PACKAGE_gst1-mod-siren=y
CONFIG_PACKAGE_gst1-mod-smooth=y
CONFIG_PACKAGE_gst1-mod-smpte=y
CONFIG_PACKAGE_gst1-mod-sndfile=y
CONFIG_PACKAGE_gst1-mod-soup=y
CONFIG_PACKAGE_gst1-mod-spectrum=y
CONFIG_PACKAGE_gst1-mod-speed=y
CONFIG_PACKAGE_gst1-mod-speex=y
CONFIG_PACKAGE_gst1-mod-subenc=y
CONFIG_PACKAGE_gst1-mod-subparse=y
CONFIG_PACKAGE_gst1-mod-switchbin=y
CONFIG_PACKAGE_gst1-mod-tcp=y
CONFIG_PACKAGE_gst1-mod-theora=y
CONFIG_PACKAGE_gst1-mod-timecode=y
CONFIG_PACKAGE_gst1-mod-typefindfunctions=y
CONFIG_PACKAGE_gst1-mod-udp=y
CONFIG_PACKAGE_gst1-mod-video4linux2=y
CONFIG_PACKAGE_gst1-mod-videobox=y
CONFIG_PACKAGE_gst1-mod-videoconvert=y
CONFIG_PACKAGE_gst1-mod-videocrop=y
CONFIG_PACKAGE_gst1-mod-videofilter=y
CONFIG_PACKAGE_gst1-mod-videofiltersbad=y
CONFIG_PACKAGE_gst1-mod-videoframe_audiolevel=y
CONFIG_PACKAGE_gst1-mod-videomixer=y
CONFIG_PACKAGE_gst1-mod-videorate=y
CONFIG_PACKAGE_gst1-mod-videoscale=y
CONFIG_PACKAGE_gst1-mod-videosignal=y
CONFIG_PACKAGE_gst1-mod-videotestsrc=y
CONFIG_PACKAGE_gst1-mod-vmnc=y
CONFIG_PACKAGE_gst1-mod-volume=y
CONFIG_PACKAGE_gst1-mod-vorbis=y
CONFIG_PACKAGE_gst1-mod-vpx=y
CONFIG_PACKAGE_gst1-mod-wavenc=y
CONFIG_PACKAGE_gst1-mod-wavparse=y
CONFIG_PACKAGE_gst1-mod-webp=y
CONFIG_PACKAGE_gst1-mod-y4mdec=y
CONFIG_PACKAGE_gst1-plugins-bad=y
CONFIG_PACKAGE_gst1-plugins-base=y
CONFIG_PACKAGE_gst1-plugins-good=y
CONFIG_PACKAGE_gstreamer1=y
CONFIG_PACKAGE_gstreamer1-libs=y
CONFIG_PACKAGE_gstreamer1-plugins-bad=y
CONFIG_PACKAGE_gstreamer1-plugins-base=y
CONFIG_PACKAGE_gstreamer1-plugins-good=y
CONFIG_PACKAGE_gstreamer1-utils=y
CONFIG_PACKAGE_iputils-arping=y
CONFIG_PACKAGE_jq=y
CONFIG_PACKAGE_kmod-bluetooth=y
CONFIG_PACKAGE_kmod-crypto-crc32c=y
CONFIG_PACKAGE_kmod-crypto-ecdh=y
CONFIG_PACKAGE_kmod-crypto-kpp=y
CONFIG_PACKAGE_kmod-fs-exfat=y
CONFIG_PACKAGE_kmod-fs-ext4=y
CONFIG_PACKAGE_kmod-fs-ntfs3=y
CONFIG_PACKAGE_kmod-fs-vfat=y
CONFIG_PACKAGE_kmod-hid=y
CONFIG_PACKAGE_kmod-ifb=y
CONFIG_PACKAGE_kmod-input-core=y
CONFIG_PACKAGE_kmod-input-evdev=y
CONFIG_PACKAGE_kmod-ipt-offload=y
CONFIG_PACKAGE_kmod-lib-crc16=y
CONFIG_PACKAGE_kmod-nf-flow=y
CONFIG_PACKAGE_kmod-nls-base=y
CONFIG_PACKAGE_kmod-nls-cp437=y
CONFIG_PACKAGE_kmod-nls-iso8859-1=y
CONFIG_PACKAGE_kmod-nls-utf8=y
CONFIG_PACKAGE_kmod-regmap-core=y
CONFIG_PACKAGE_kmod-sched-core=y
CONFIG_PACKAGE_kmod-scsi-core=y
CONFIG_PACKAGE_kmod-sound-core=y
CONFIG_PACKAGE_kmod-tcp-bbr=y
CONFIG_PACKAGE_kmod-tun=y
CONFIG_PACKAGE_kmod-usb-audio=y
CONFIG_PACKAGE_kmod-usb-core=y
CONFIG_PACKAGE_kmod-usb-ehci=y
CONFIG_PACKAGE_kmod-usb-ohci=y
CONFIG_PACKAGE_kmod-usb-storage=y
CONFIG_PACKAGE_kmod-usb-storage-extras=y
CONFIG_PACKAGE_kmod-usb-uhci=y
CONFIG_PACKAGE_kmod-usb2=y
CONFIG_PACKAGE_kmod-usb3=y
CONFIG_PACKAGE_lame-lib=y
CONFIG_PACKAGE_libalac=y
CONFIG_PACKAGE_libatomic=y
CONFIG_PACKAGE_libattr=y
CONFIG_PACKAGE_libavahi-client=y
CONFIG_PACKAGE_libavahi-dbus-support=y
CONFIG_PACKAGE_libblkid=y
CONFIG_PACKAGE_libcomerr=y
CONFIG_PACKAGE_libconfig=y
CONFIG_PACKAGE_libcurl=y
CONFIG_PACKAGE_libdaemon=y
CONFIG_PACKAGE_libdbus=y
CONFIG_PACKAGE_libexpat=y
CONFIG_PACKAGE_libext2fs=y
CONFIG_PACKAGE_libfaad2=y
CONFIG_PACKAGE_libffi=y
CONFIG_PACKAGE_libflac=y
CONFIG_PACKAGE_libgnutls=y
CONFIG_PACKAGE_libgst1adaptivedemux=y
CONFIG_PACKAGE_libgst1allocators=y
CONFIG_PACKAGE_libgst1app=y
CONFIG_PACKAGE_libgst1audio=y
CONFIG_PACKAGE_libgst1basecamerabinsrc=y
CONFIG_PACKAGE_libgst1check=y
CONFIG_PACKAGE_libgst1codecparsers=y
CONFIG_PACKAGE_libgst1controller=y
CONFIG_PACKAGE_libgst1fft=y
CONFIG_PACKAGE_libgst1mpegts=y
CONFIG_PACKAGE_libgst1net=y
CONFIG_PACKAGE_libgst1pbutils=y
CONFIG_PACKAGE_libgst1photography=y
CONFIG_PACKAGE_libgst1riff=y
CONFIG_PACKAGE_libgst1rtp=y
CONFIG_PACKAGE_libgst1rtsp=y
CONFIG_PACKAGE_libgst1sdp=y
CONFIG_PACKAGE_libgst1tag=y
CONFIG_PACKAGE_libgst1uridownloader=y
CONFIG_PACKAGE_libgst1video=y
CONFIG_PACKAGE_libgstreamer1=y
CONFIG_PACKAGE_libid3tag=y
CONFIG_PACKAGE_libidn2=y
CONFIG_PACKAGE_libjpeg-turbo=y
CONFIG_PACKAGE_libltdl=y
CONFIG_PACKAGE_libmpg123=y
CONFIG_PACKAGE_libncurses=y
CONFIG_PACKAGE_libnghttp2=y
CONFIG_PACKAGE_libogg=y
CONFIG_PACKAGE_liboil=y
CONFIG_PACKAGE_libopus=y
CONFIG_PACKAGE_libout123=y
CONFIG_PACKAGE_libpng=y
CONFIG_PACKAGE_libpopt=y
CONFIG_PACKAGE_libpsl=y
CONFIG_PACKAGE_libshout=y
CONFIG_PACKAGE_libsndfile=y
CONFIG_PACKAGE_libsoup=y
CONFIG_PACKAGE_libsoxr=y
CONFIG_PACKAGE_libspeex=y
CONFIG_PACKAGE_libsqlite3=y
CONFIG_PACKAGE_libss=y
CONFIG_PACKAGE_libstdcpp=y
CONFIG_PACKAGE_libsyn123=y
CONFIG_PACKAGE_libtheora=y
CONFIG_PACKAGE_libunistring=y
CONFIG_PACKAGE_libupnp=y
CONFIG_PACKAGE_libuuid=y
CONFIG_PACKAGE_libv4l=y
CONFIG_PACKAGE_libvorbis=y
CONFIG_PACKAGE_libvorbisidec=y
CONFIG_PACKAGE_libvpx=y
CONFIG_PACKAGE_libwebp=y
CONFIG_PACKAGE_libxml2=y
CONFIG_PACKAGE_luci-app-airplay2=y
CONFIG_PACKAGE_luci-app-autoreboot=y
CONFIG_PACKAGE_luci-app-ddns=y
# CONFIG_PACKAGE_luci-app-diskman_INCLUDE_btrfs_progs is not set
# CONFIG_PACKAGE_luci-app-diskman_INCLUDE_lsblk is not set
CONFIG_PACKAGE_luci-app-easytier=y
CONFIG_PACKAGE_luci-app-eqos-mtk=y
# CONFIG_PACKAGE_luci-app-filetransfer is not set
CONFIG_PACKAGE_luci-app-p910nd=y
# CONFIG_PACKAGE_luci-app-passwall_INCLUDE_ShadowsocksR_Libev_Client is not set
# CONFIG_PACKAGE_luci-app-passwall_INCLUDE_Shadowsocks_Libev_Client is not set
# CONFIG_PACKAGE_luci-app-passwall_INCLUDE_Simple_Obfs is not set
# CONFIG_PACKAGE_luci-app-passwall_INCLUDE_Trojan_Plus is not set
CONFIG_PACKAGE_luci-app-pushbot=y
CONFIG_PACKAGE_luci-app-ramfree=y
# CONFIG_PACKAGE_luci-app-rclone_INCLUDE_rclone-ng is not set
# CONFIG_PACKAGE_luci-app-rclone_INCLUDE_rclone-webui is not set
# CONFIG_PACKAGE_luci-app-ssr-plus_INCLUDE_ChinaDNS_NG is not set
# CONFIG_PACKAGE_luci-app-ssr-plus_INCLUDE_IPT2Socks is not set
# CONFIG_PACKAGE_luci-app-ssr-plus_INCLUDE_ShadowsocksR_Libev_Client is not set
# CONFIG_PACKAGE_luci-app-ssr-plus_INCLUDE_Shadowsocks_Libev_Client is not set
# CONFIG_PACKAGE_luci-app-ssr-plus_INCLUDE_Shadowsocks_NONE_Client is not set
# CONFIG_PACKAGE_luci-app-ssr-plus_INCLUDE_Shadowsocks_Simple_Obfs is not set
# CONFIG_PACKAGE_luci-app-ssr-plus_INCLUDE_Trojan is not set
CONFIG_PACKAGE_luci-app-turboacc=y
CONFIG_PACKAGE_luci-app-upnp=y
CONFIG_PACKAGE_luci-app-vlmcsd=y
CONFIG_PACKAGE_luci-i18n-airplay2-zh-cn=y
CONFIG_PACKAGE_luci-i18n-autoreboot-zh-cn=y
CONFIG_PACKAGE_luci-i18n-ddns-zh-cn=y
CONFIG_PACKAGE_luci-i18n-easytier-zh-cn=y
CONFIG_PACKAGE_luci-i18n-eqos-mtk-zh-cn=y
CONFIG_PACKAGE_luci-i18n-p910nd-zh-cn=y
CONFIG_PACKAGE_luci-i18n-ramfree-zh-cn=y
CONFIG_PACKAGE_luci-i18n-turboacc-zh-cn=y
CONFIG_PACKAGE_luci-i18n-upnp-zh-cn=y
CONFIG_PACKAGE_luci-i18n-vlmcsd-zh-cn=y
CONFIG_PACKAGE_luci-theme-material=y
CONFIG_PACKAGE_miniupnpd=y
CONFIG_PACKAGE_mpg123=y
CONFIG_PACKAGE_nano=y
CONFIG_PACKAGE_ntfs3-mount=y
CONFIG_PACKAGE_p910nd=y
CONFIG_PACKAGE_sbc=y
CONFIG_PACKAGE_shairport-sync-openssl=y
CONFIG_PACKAGE_tc-mod-iptables=y
CONFIG_PACKAGE_tc-tiny=y
CONFIG_PACKAGE_terminfo=y
CONFIG_PACKAGE_vlmcsd=y
CONFIG_SQLITE3_COLUMN_METADATA=y
CONFIG_SQLITE3_DYNAMIC_EXTENSIONS=y
CONFIG_SQLITE3_FTS3=y
CONFIG_SQLITE3_FTS4=y
CONFIG_SQLITE3_FTS5=y
CONFIG_SQLITE3_RTREE=y
