CONFIG_TARGET_mediatek=y
CONFIG_TARGET_mediatek_filogic=y
CONFIG_TARGET_mediatek_filogic_DEVICE_cmcc_rax3000me=y
CONFIG_ARIA2_BITTORRENT=y
CONFIG_ARIA2_LIBXML2=y
CONFIG_ARIA2_METALINK=y
CONFIG_ARIA2_OPENSSL=y
CONFIG_ARIA2_WEBSOCKET=y
CONFIG_DOCKER_CGROUP_OPTIONS=y
CONFIG_DOCKER_NET_MACVLAN=y
CONFIG_DOCKER_STO_EXT4=y
CONFIG_GNUTLS_ALPN=y
CONFIG_GNUTLS_ANON=y
CONFIG_GNUTLS_DTLS_SRTP=y
CONFIG_GNUTLS_HEARTBEAT=y
CONFIG_GNUTLS_OCSP=y
CONFIG_GNUTLS_PSK=y
CONFIG_KERNEL_CGROUP_DEVICE=y
CONFIG_KERNEL_CGROUP_FREEZER=y
CONFIG_KERNEL_CGROUP_NET_PRIO=y
CONFIG_KERNEL_NET_CLS_CGROUP=y
CONFIG_LIBCURL_COOKIES=y
CONFIG_LIBCURL_CRYPTO_AUTH=y
CONFIG_LIBCURL_FILE=y
CONFIG_LIBCURL_FTP=y
CONFIG_LIBCURL_HTTP=y
CONFIG_LIBCURL_HTTP2=y
CONFIG_LIBCURL_OPENSSL=y
CONFIG_LIBCURL_PROXY=y
CONFIG_LIBCURL_TFTP=y
CONFIG_LIBCURL_THREADED_RESOLVER=y
CONFIG_LIBCURL_TLS_SRP=y
CONFIG_LIBCURL_UNIX_SOCKETS=y
CONFIG_LIBSODIUM_MINIMAL=y
CONFIG_MBEDTLS_AESCE_C=y
CONFIG_MBEDTLS_AES_C=y
CONFIG_MBEDTLS_CMAC_C=y
CONFIG_MBEDTLS_DES_C=y
CONFIG_MBEDTLS_ECP_DP_CURVE25519_ENABLED=y
CONFIG_MBEDTLS_ECP_DP_SECP256K1_ENABLED=y
CONFIG_MBEDTLS_ECP_DP_SECP256R1_ENABLED=y
CONFIG_MBEDTLS_ECP_DP_SECP384R1_ENABLED=y
CONFIG_MBEDTLS_ECP_DP_SECP521R1_ENABLED=y
CONFIG_MBEDTLS_ENTROPY_FORCE_SHA256=y
CONFIG_MBEDTLS_GCM_C=y
CONFIG_MBEDTLS_HKDF_C=y
CONFIG_MBEDTLS_KEY_EXCHANGE_ECDHE_ECDSA_ENABLED=y
CONFIG_MBEDTLS_KEY_EXCHANGE_ECDHE_PSK_ENABLED=y
CONFIG_MBEDTLS_KEY_EXCHANGE_ECDHE_RSA_ENABLED=y
CONFIG_MBEDTLS_KEY_EXCHANGE_PSK_ENABLED=y
CONFIG_MBEDTLS_NIST_KW_C=y
CONFIG_MBEDTLS_PSA_CRYPTO_CLIENT=y
CONFIG_MBEDTLS_RSA_NO_CRT=y
CONFIG_MBEDTLS_SHA256_USE_ARMV8_A_CRYPTO_IF_PRESENT=y
CONFIG_MBEDTLS_SHA512_USE_A64_CRYPTO_IF_PRESENT=y
CONFIG_MBEDTLS_SSL_PROTO_TLS1_2=y
CONFIG_MBEDTLS_SSL_PROTO_TLS1_3=y
CONFIG_MBEDTLS_SSL_TLS1_3_COMPATIBILITY_MODE=y
CONFIG_MBEDTLS_SSL_TLS1_3_KEY_EXCHANGE_MODE_EPHEMERAL_ENABLED=y
CONFIG_MBEDTLS_SSL_TLS1_3_KEY_EXCHANGE_MODE_PSK_ENABLED=y
CONFIG_MBEDTLS_SSL_TLS1_3_KEY_EXCHANGE_MODE_PSK_EPHEMERAL_ENABLED=y
CONFIG_MBEDTLS_THREADING_C=y
CONFIG_MBEDTLS_THREADING_PTHREAD=y
CONFIG_NFS_KERNEL_SERVER_V4=y
CONFIG_PACKAGE_airconnect=y
CONFIG_PACKAGE_alsa-lib=y
CONFIG_PACKAGE_alsa-ucm-conf=y
CONFIG_PACKAGE_alsa-utils=y
CONFIG_PACKAGE_aria2=y
CONFIG_PACKAGE_aria2-openssl=y
CONFIG_PACKAGE_ariang=y
CONFIG_PACKAGE_autocore=y
CONFIG_PACKAGE_avahi-dbus-daemon=y
CONFIG_PACKAGE_bash=y
CONFIG_PACKAGE_bluez-libs=y
CONFIG_PACKAGE_btrfs-progs=y
CONFIG_PACKAGE_ca-certificates=y
CONFIG_PACKAGE_cgi-io=y
CONFIG_PACKAGE_cgroupfs-mount=y
CONFIG_PACKAGE_containerd=y
CONFIG_PACKAGE_coreutils=y
CONFIG_PACKAGE_coreutils-base64=y
CONFIG_PACKAGE_cpufreq=y
CONFIG_PACKAGE_cpulimit=y
CONFIG_PACKAGE_curl=y
CONFIG_PACKAGE_dbus=y
CONFIG_PACKAGE_ddns-go=y
CONFIG_PACKAGE_dns2socks=y
CONFIG_PACKAGE_dns2tcp=y
CONFIG_PACKAGE_dnsmasq_full_ipset=y
CONFIG_PACKAGE_docker=y
CONFIG_PACKAGE_docker-compose=y
CONFIG_PACKAGE_dockerd=y
CONFIG_PACKAGE_fdk-aac=y
CONFIG_PACKAGE_glib2=y
CONFIG_PACKAGE_gmediarender=y
CONFIG_PACKAGE_gst1-mod-adder=y
CONFIG_PACKAGE_gst1-mod-adpcmdec=y
CONFIG_PACKAGE_gst1-mod-adpcmenc=y
CONFIG_PACKAGE_gst1-mod-aiff=y
CONFIG_PACKAGE_gst1-mod-alaw=y
CONFIG_PACKAGE_gst1-mod-alpha=y
CONFIG_PACKAGE_gst1-mod-alsa=y
CONFIG_PACKAGE_gst1-mod-apetag=y
CONFIG_PACKAGE_gst1-mod-app=y
CONFIG_PACKAGE_gst1-mod-asfmux=y
CONFIG_PACKAGE_gst1-mod-audiobuffersplit=y
CONFIG_PACKAGE_gst1-mod-audioconvert=y
CONFIG_PACKAGE_gst1-mod-audiofx=y
CONFIG_PACKAGE_gst1-mod-audiofxbad=y
CONFIG_PACKAGE_gst1-mod-audiolatency=y
CONFIG_PACKAGE_gst1-mod-audiomixer=y
CONFIG_PACKAGE_gst1-mod-audiomixmatrix=y
CONFIG_PACKAGE_gst1-mod-audioparsers=y
CONFIG_PACKAGE_gst1-mod-audiorate=y
CONFIG_PACKAGE_gst1-mod-audioresample=y
CONFIG_PACKAGE_gst1-mod-audiotestsrc=y
CONFIG_PACKAGE_gst1-mod-audiovisualizers=y
CONFIG_PACKAGE_gst1-mod-auparse=y
CONFIG_PACKAGE_gst1-mod-autoconvert=y
CONFIG_PACKAGE_gst1-mod-autodetect=y
CONFIG_PACKAGE_gst1-mod-avi=y
CONFIG_PACKAGE_gst1-mod-bayer=y
CONFIG_PACKAGE_gst1-mod-bluez=y
CONFIG_PACKAGE_gst1-mod-camerabin=y
CONFIG_PACKAGE_gst1-mod-coloreffects=y
CONFIG_PACKAGE_gst1-mod-compositor=y
CONFIG_PACKAGE_gst1-mod-cutter=y
CONFIG_PACKAGE_gst1-mod-debug=y
CONFIG_PACKAGE_gst1-mod-debugutilsbad=y
CONFIG_PACKAGE_gst1-mod-dtls=y
CONFIG_PACKAGE_gst1-mod-dtmf=y
CONFIG_PACKAGE_gst1-mod-dvbsubenc=y
CONFIG_PACKAGE_gst1-mod-dvbsuboverlay=y
CONFIG_PACKAGE_gst1-mod-dvdspu=y
CONFIG_PACKAGE_gst1-mod-effectv=y
CONFIG_PACKAGE_gst1-mod-encoding=y
CONFIG_PACKAGE_gst1-mod-equalizer=y
CONFIG_PACKAGE_gst1-mod-faad=y
CONFIG_PACKAGE_gst1-mod-faceoverlay=y
CONFIG_PACKAGE_gst1-mod-fbdevsink=y
CONFIG_PACKAGE_gst1-mod-festival=y
CONFIG_PACKAGE_gst1-mod-fieldanalysis=y
CONFIG_PACKAGE_gst1-mod-flac=y
CONFIG_PACKAGE_gst1-mod-flv=y
CONFIG_PACKAGE_gst1-mod-flxdec=y
CONFIG_PACKAGE_gst1-mod-freeverb=y
CONFIG_PACKAGE_gst1-mod-frei0r=y
CONFIG_PACKAGE_gst1-mod-gaudieffects=y
CONFIG_PACKAGE_gst1-mod-gdp=y
CONFIG_PACKAGE_gst1-mod-geometrictransform=y
CONFIG_PACKAGE_gst1-mod-gio=y
CONFIG_PACKAGE_gst1-mod-goom=y
CONFIG_PACKAGE_gst1-mod-goom2k1=y
CONFIG_PACKAGE_gst1-mod-hls=y
CONFIG_PACKAGE_gst1-mod-icydemux=y
CONFIG_PACKAGE_gst1-mod-id3demux=y
CONFIG_PACKAGE_gst1-mod-id3tag=y
CONFIG_PACKAGE_gst1-mod-imagefreeze=y
CONFIG_PACKAGE_gst1-mod-inter=y
CONFIG_PACKAGE_gst1-mod-interlace=y
CONFIG_PACKAGE_gst1-mod-interleave=y
CONFIG_PACKAGE_gst1-mod-isomp4=y
CONFIG_PACKAGE_gst1-mod-ivfparse=y
CONFIG_PACKAGE_gst1-mod-ivorbisdec=y
CONFIG_PACKAGE_gst1-mod-ivtc=y
CONFIG_PACKAGE_gst1-mod-jp2kdecimator=y
CONFIG_PACKAGE_gst1-mod-jpeg=y
CONFIG_PACKAGE_gst1-mod-jpegformat=y
CONFIG_PACKAGE_gst1-mod-lame=y
CONFIG_PACKAGE_gst1-mod-legacyrawparse=y
CONFIG_PACKAGE_gst1-mod-level=y
CONFIG_PACKAGE_gst1-mod-matroska=y
CONFIG_PACKAGE_gst1-mod-midi=y
CONFIG_PACKAGE_gst1-mod-monoscope=y
CONFIG_PACKAGE_gst1-mod-mpegpsdemux=y
CONFIG_PACKAGE_gst1-mod-mpegpsmux=y
CONFIG_PACKAGE_gst1-mod-mpegtsdemux=y
CONFIG_PACKAGE_gst1-mod-mpegtsmux=y
CONFIG_PACKAGE_gst1-mod-mpg123=y
CONFIG_PACKAGE_gst1-mod-mulaw=y
CONFIG_PACKAGE_gst1-mod-multifile=y
CONFIG_PACKAGE_gst1-mod-multipart=y
CONFIG_PACKAGE_gst1-mod-mxf=y
CONFIG_PACKAGE_gst1-mod-navigationtest=y
CONFIG_PACKAGE_gst1-mod-netsim=y
CONFIG_PACKAGE_gst1-mod-ogg=y
CONFIG_PACKAGE_gst1-mod-opengl=y
CONFIG_PACKAGE_gst1-mod-opus=y
CONFIG_PACKAGE_gst1-mod-opusparse=y
CONFIG_PACKAGE_gst1-mod-oss4=y
CONFIG_PACKAGE_gst1-mod-ossaudio=y
CONFIG_PACKAGE_gst1-mod-overlaycomposition=y
CONFIG_PACKAGE_gst1-mod-pbtypes=y
CONFIG_PACKAGE_gst1-mod-pcapparse=y
CONFIG_PACKAGE_gst1-mod-playback=y
CONFIG_PACKAGE_gst1-mod-png=y
CONFIG_PACKAGE_gst1-mod-pnm=y
CONFIG_PACKAGE_gst1-mod-proxy=y
CONFIG_PACKAGE_gst1-mod-rawparse=y
CONFIG_PACKAGE_gst1-mod-removesilence=y
CONFIG_PACKAGE_gst1-mod-replaygain=y
CONFIG_PACKAGE_gst1-mod-rfbsrc=y
CONFIG_PACKAGE_gst1-mod-rtp=y
CONFIG_PACKAGE_gst1-mod-rtpmanager=y
CONFIG_PACKAGE_gst1-mod-rtponvif=y
CONFIG_PACKAGE_gst1-mod-rtsp=y
CONFIG_PACKAGE_gst1-mod-sbc=y
CONFIG_PACKAGE_gst1-mod-sdpelem=y
CONFIG_PACKAGE_gst1-mod-segmentclip=y
CONFIG_PACKAGE_gst1-mod-shapewipe=y
CONFIG_PACKAGE_gst1-mod-shm=y
CONFIG_PACKAGE_gst1-mod-shout2=y
CONFIG_PACKAGE_gst1-mod-siren=y
CONFIG_PACKAGE_gst1-mod-smooth=y
CONFIG_PACKAGE_gst1-mod-smpte=y
CONFIG_PACKAGE_gst1-mod-sndfile=y
CONFIG_PACKAGE_gst1-mod-soup=y
CONFIG_PACKAGE_gst1-mod-spectrum=y
CONFIG_PACKAGE_gst1-mod-speed=y
CONFIG_PACKAGE_gst1-mod-speex=y
CONFIG_PACKAGE_gst1-mod-srt=y
CONFIG_PACKAGE_gst1-mod-subenc=y
CONFIG_PACKAGE_gst1-mod-subparse=y
CONFIG_PACKAGE_gst1-mod-switchbin=y
CONFIG_PACKAGE_gst1-mod-taglib=y
CONFIG_PACKAGE_gst1-mod-tcp=y
CONFIG_PACKAGE_gst1-mod-theora=y
CONFIG_PACKAGE_gst1-mod-timecode=y
CONFIG_PACKAGE_gst1-mod-typefindfunctions=y
CONFIG_PACKAGE_gst1-mod-udp=y
CONFIG_PACKAGE_gst1-mod-v4l2codecs=y
CONFIG_PACKAGE_gst1-mod-video4linux2=y
CONFIG_PACKAGE_gst1-mod-videobox=y
CONFIG_PACKAGE_gst1-mod-videoconvertscale=y
CONFIG_PACKAGE_gst1-mod-videocrop=y
CONFIG_PACKAGE_gst1-mod-videofilter=y
CONFIG_PACKAGE_gst1-mod-videofiltersbad=y
CONFIG_PACKAGE_gst1-mod-videoframe_audiolevel=y
CONFIG_PACKAGE_gst1-mod-videomixer=y
CONFIG_PACKAGE_gst1-mod-videoparsersbad=y
CONFIG_PACKAGE_gst1-mod-videorate=y
CONFIG_PACKAGE_gst1-mod-videosignal=y
CONFIG_PACKAGE_gst1-mod-videotestsrc=y
CONFIG_PACKAGE_gst1-mod-vmnc=y
CONFIG_PACKAGE_gst1-mod-volume=y
CONFIG_PACKAGE_gst1-mod-vorbis=y
CONFIG_PACKAGE_gst1-mod-vpx=y
CONFIG_PACKAGE_gst1-mod-wavenc=y
CONFIG_PACKAGE_gst1-mod-wavparse=y
CONFIG_PACKAGE_gst1-mod-webp=y
CONFIG_PACKAGE_gst1-mod-y4mdec=y
CONFIG_PACKAGE_gst1-plugins-bad=y
CONFIG_PACKAGE_gst1-plugins-base=y
CONFIG_PACKAGE_gst1-plugins-good=y
CONFIG_PACKAGE_gstreamer1=y
CONFIG_PACKAGE_gstreamer1-libs=y
CONFIG_PACKAGE_gstreamer1-plugins-bad=y
CONFIG_PACKAGE_gstreamer1-plugins-base=y
CONFIG_PACKAGE_gstreamer1-plugins-good=y
CONFIG_PACKAGE_gstreamer1-utils=y
CONFIG_PACKAGE_hd-idle=y
CONFIG_PACKAGE_ip-full=y
CONFIG_PACKAGE_ip6tables-nft=y
CONFIG_PACKAGE_ipset=y
CONFIG_PACKAGE_iptables-mod-extra=y
CONFIG_PACKAGE_iptables-mod-tproxy=y
CONFIG_PACKAGE_iptables-nft=y
CONFIG_PACKAGE_iputils-arping=y
CONFIG_PACKAGE_jq=y
CONFIG_PACKAGE_kmod-asn1-decoder=y
CONFIG_PACKAGE_kmod-bluetooth=y
CONFIG_PACKAGE_kmod-br-netfilter=y
CONFIG_PACKAGE_kmod-crypto-acompress=y
CONFIG_PACKAGE_kmod-crypto-blake2b=y
CONFIG_PACKAGE_kmod-crypto-cbc=y
CONFIG_PACKAGE_kmod-crypto-cts=y
CONFIG_PACKAGE_kmod-crypto-ecdh=y
CONFIG_PACKAGE_kmod-crypto-kpp=y
CONFIG_PACKAGE_kmod-crypto-xxhash=y
CONFIG_PACKAGE_kmod-dax=y
CONFIG_PACKAGE_kmod-dm=y
CONFIG_PACKAGE_kmod-dnsresolver=y
CONFIG_PACKAGE_kmod-dummy=y
CONFIG_PACKAGE_kmod-fs-btrfs=y
CONFIG_PACKAGE_kmod-fs-exportfs=y
CONFIG_PACKAGE_kmod-fs-ksmbd=y
CONFIG_PACKAGE_kmod-fs-netfs=y
CONFIG_PACKAGE_kmod-fs-nfs=y
CONFIG_PACKAGE_kmod-fs-nfs-common=y
CONFIG_PACKAGE_kmod-fs-nfs-common-rpcsec=y
CONFIG_PACKAGE_kmod-fs-nfs-v4=y
CONFIG_PACKAGE_kmod-fs-nfsd=y
CONFIG_PACKAGE_kmod-fs-smbfs-common=y
CONFIG_PACKAGE_kmod-hid=y
CONFIG_PACKAGE_kmod-ifb=y
CONFIG_PACKAGE_kmod-input-core=y
CONFIG_PACKAGE_kmod-input-evdev=y
CONFIG_PACKAGE_kmod-ip6tables=y
CONFIG_PACKAGE_kmod-ipt-conntrack=y
CONFIG_PACKAGE_kmod-ipt-core=y
CONFIG_PACKAGE_kmod-ipt-extra=y
CONFIG_PACKAGE_kmod-ipt-ipset=y
CONFIG_PACKAGE_kmod-ipt-nat=y
CONFIG_PACKAGE_kmod-ipt-nat6=y
CONFIG_PACKAGE_kmod-ipt-physdev=y
CONFIG_PACKAGE_kmod-ipt-tproxy=y
CONFIG_PACKAGE_kmod-keys-encrypted=y
CONFIG_PACKAGE_kmod-keys-trusted=y
CONFIG_PACKAGE_kmod-lib-lzo=y
CONFIG_PACKAGE_kmod-lib-raid6=y
CONFIG_PACKAGE_kmod-lib-xor=y
CONFIG_PACKAGE_kmod-lib-xxhash=y
CONFIG_PACKAGE_kmod-lib-zlib-deflate=y
CONFIG_PACKAGE_kmod-lib-zlib-inflate=y
CONFIG_PACKAGE_kmod-lib-zstd=y
CONFIG_PACKAGE_kmod-media-controller=y
CONFIG_PACKAGE_kmod-nf-ipt=y
CONFIG_PACKAGE_kmod-nf-ipt6=y
CONFIG_PACKAGE_kmod-nf-ipvs=y
CONFIG_PACKAGE_kmod-nf-nat6=y
CONFIG_PACKAGE_kmod-nf-tproxy=y
CONFIG_PACKAGE_kmod-nft-compat=y
CONFIG_PACKAGE_kmod-nls-ucs2-utils=y
CONFIG_PACKAGE_kmod-oid-registry=y
CONFIG_PACKAGE_kmod-random-core=y
CONFIG_PACKAGE_kmod-regmap-core=y
CONFIG_PACKAGE_kmod-sound-core=y
CONFIG_PACKAGE_kmod-tpm=y
CONFIG_PACKAGE_kmod-tun=y
CONFIG_PACKAGE_kmod-usb-audio=y
CONFIG_PACKAGE_kmod-usb-ehci=y
CONFIG_PACKAGE_kmod-usb-ohci=y
CONFIG_PACKAGE_kmod-usb-printer=y
CONFIG_PACKAGE_kmod-usb-uhci=y
CONFIG_PACKAGE_kmod-usb2=y
CONFIG_PACKAGE_kmod-veth=y
CONFIG_PACKAGE_ksmbd-server=y
CONFIG_PACKAGE_lame-lib=y
CONFIG_PACKAGE_libalac=y
CONFIG_PACKAGE_libao=y
CONFIG_PACKAGE_libatomic=y
CONFIG_PACKAGE_libattr=y
CONFIG_PACKAGE_libavahi-client=y
CONFIG_PACKAGE_libavahi-dbus-support=y
CONFIG_PACKAGE_libbz2=y
CONFIG_PACKAGE_libcap=y
CONFIG_PACKAGE_libcap-ng=y
CONFIG_PACKAGE_libcares=y
CONFIG_PACKAGE_libconfig=y
CONFIG_PACKAGE_libcurl=y
CONFIG_PACKAGE_libdaemon=y
CONFIG_PACKAGE_libdbus=y
CONFIG_PACKAGE_libdevmapper=y
CONFIG_PACKAGE_libdrm=y
CONFIG_PACKAGE_libev=y
CONFIG_PACKAGE_libevdev=y
CONFIG_PACKAGE_libexpat=y
CONFIG_PACKAGE_libfaad2=y
CONFIG_PACKAGE_libffi=y
CONFIG_PACKAGE_libffmpeg-full=y
CONFIG_PACKAGE_libflac=y
CONFIG_PACKAGE_libgcrypt=y
CONFIG_PACKAGE_libgnutls=y
CONFIG_PACKAGE_libgpg-error=y
CONFIG_PACKAGE_libgraphene=y
CONFIG_PACKAGE_libgst1adaptivedemux=y
CONFIG_PACKAGE_libgst1allocators=y
CONFIG_PACKAGE_libgst1app=y
CONFIG_PACKAGE_libgst1audio=y
CONFIG_PACKAGE_libgst1basecamerabinsrc=y
CONFIG_PACKAGE_libgst1check=y
CONFIG_PACKAGE_libgst1codecparsers=y
CONFIG_PACKAGE_libgst1codecs=y
CONFIG_PACKAGE_libgst1controller=y
CONFIG_PACKAGE_libgst1fft=y
CONFIG_PACKAGE_libgst1gl=y
CONFIG_PACKAGE_libgst1mpegts=y
CONFIG_PACKAGE_libgst1net=y
CONFIG_PACKAGE_libgst1pbutils=y
CONFIG_PACKAGE_libgst1photography=y
CONFIG_PACKAGE_libgst1play=y
CONFIG_PACKAGE_libgst1player=y
CONFIG_PACKAGE_libgst1riff=y
CONFIG_PACKAGE_libgst1rtp=y
CONFIG_PACKAGE_libgst1rtsp=y
CONFIG_PACKAGE_libgst1sdp=y
CONFIG_PACKAGE_libgst1tag=y
CONFIG_PACKAGE_libgst1transcoder=y
CONFIG_PACKAGE_libgst1uridownloader=y
CONFIG_PACKAGE_libgst1video=y
CONFIG_PACKAGE_libgstreamer1=y
CONFIG_PACKAGE_libgudev=y
CONFIG_PACKAGE_libid3tag=y
CONFIG_PACKAGE_libidn2=y
CONFIG_PACKAGE_libipset=y
CONFIG_PACKAGE_libiptext=y
CONFIG_PACKAGE_libiptext-nft=y
CONFIG_PACKAGE_libiptext6=y
CONFIG_PACKAGE_libjpeg-turbo=y
CONFIG_PACKAGE_libkeyutils=y
CONFIG_PACKAGE_libltdl=y
CONFIG_PACKAGE_liblua=y
CONFIG_PACKAGE_liblucihttp=y
CONFIG_PACKAGE_liblucihttp-lua=y
CONFIG_PACKAGE_liblucihttp-ucode=y
CONFIG_PACKAGE_liblzo=y
CONFIG_PACKAGE_libmbedtls=y
CONFIG_PACKAGE_libmesa-softpipe=y
CONFIG_PACKAGE_libmosquitto-ssl=y
CONFIG_PACKAGE_libmount=y
CONFIG_PACKAGE_libmpg123=y
CONFIG_PACKAGE_libncurses=y
CONFIG_PACKAGE_libnghttp2=y
CONFIG_PACKAGE_libnl=y
CONFIG_PACKAGE_libnl-cli=y
CONFIG_PACKAGE_libnl-core=y
CONFIG_PACKAGE_libnl-genl=y
CONFIG_PACKAGE_libnl-nf=y
CONFIG_PACKAGE_libnl-route=y
CONFIG_PACKAGE_libogg=y
CONFIG_PACKAGE_libopus=y
CONFIG_PACKAGE_libout123=y
CONFIG_PACKAGE_libpcre2=y
CONFIG_PACKAGE_libplist=y
CONFIG_PACKAGE_libpng=y
CONFIG_PACKAGE_libpopt=y
CONFIG_PACKAGE_libpsl=y
CONFIG_PACKAGE_libreadline=y
CONFIG_PACKAGE_libseccomp=y
CONFIG_PACKAGE_libsensors=y
CONFIG_PACKAGE_libshout=y
CONFIG_PACKAGE_libsmartcols=y
CONFIG_PACKAGE_libsndfile=y
CONFIG_PACKAGE_libsodium=y
CONFIG_PACKAGE_libsoup3=y
CONFIG_PACKAGE_libsoxr=y
CONFIG_PACKAGE_libspeex=y
CONFIG_PACKAGE_libsqlite3=y
CONFIG_PACKAGE_libstdcpp=y
CONFIG_PACKAGE_libsyn123=y
CONFIG_PACKAGE_libsysfs=y
CONFIG_PACKAGE_libtheora=y
CONFIG_PACKAGE_libtirpc=y
CONFIG_PACKAGE_libubus-lua=y
CONFIG_PACKAGE_libuci-lua=y
CONFIG_PACKAGE_libudev-zero=y
CONFIG_PACKAGE_libudns=y
CONFIG_PACKAGE_libunistring=y
CONFIG_PACKAGE_libupnp=y
CONFIG_PACKAGE_libuv=y
CONFIG_PACKAGE_libv4l=y
CONFIG_PACKAGE_libvorbis=y
CONFIG_PACKAGE_libvorbisidec=y
CONFIG_PACKAGE_libvpx=y
CONFIG_PACKAGE_libwayland=y
CONFIG_PACKAGE_libwebp=y
CONFIG_PACKAGE_libwebsockets-full=y
CONFIG_PACKAGE_libwrap=y
CONFIG_PACKAGE_libxml2=y
CONFIG_PACKAGE_libxtables=y
CONFIG_PACKAGE_libzstd=y
CONFIG_PACKAGE_lsblk=y
CONFIG_PACKAGE_lsqlite3=y
CONFIG_PACKAGE_lua=y
CONFIG_PACKAGE_lua-neturl=y
CONFIG_PACKAGE_luci-app-airconnect=y
CONFIG_PACKAGE_luci-app-airplay2=y
CONFIG_PACKAGE_luci-app-aria2=y
CONFIG_PACKAGE_luci-app-autoreboot=y
CONFIG_PACKAGE_luci-app-cpufreq=y
CONFIG_PACKAGE_luci-app-cpulimit=y
CONFIG_PACKAGE_luci-app-ddns-go=y
CONFIG_PACKAGE_luci-app-dockerman=y
CONFIG_PACKAGE_luci-app-easytier=y
CONFIG_PACKAGE_luci-app-eqos=y
CONFIG_PACKAGE_luci-app-firewall=y
CONFIG_PACKAGE_luci-app-hd-idle=y
CONFIG_PACKAGE_luci-app-ksmbd=y
CONFIG_PACKAGE_luci-app-netdata=y
CONFIG_PACKAGE_luci-app-nfs=y
CONFIG_PACKAGE_luci-app-nlbwmon=y
# CONFIG_PACKAGE_luci-app-passwall_INCLUDE_Haproxy is not set
# CONFIG_PACKAGE_luci-app-passwall_INCLUDE_Shadowsocks_Rust_Client is not set
# CONFIG_PACKAGE_luci-app-passwall_INCLUDE_Shadowsocks_Rust_Server is not set
# CONFIG_PACKAGE_luci-app-passwall_INCLUDE_Simple_Obfs is not set
# CONFIG_PACKAGE_luci-app-passwall_INCLUDE_SingBox is not set
# CONFIG_PACKAGE_luci-app-passwall_INCLUDE_V2ray_Geoview is not set
# CONFIG_PACKAGE_luci-app-passwall_INCLUDE_V2ray_Plugin is not set
# CONFIG_PACKAGE_luci-app-passwall_INCLUDE_Xray is not set
CONFIG_PACKAGE_luci-app-ps3netsrv=y
CONFIG_PACKAGE_luci-app-pushbot=y
CONFIG_PACKAGE_luci-app-ramfree=y
# CONFIG_PACKAGE_luci-app-rclone_INCLUDE_rclone-ng is not set
# CONFIG_PACKAGE_luci-app-rclone_INCLUDE_rclone-webui is not set
CONFIG_PACKAGE_luci-app-spotifyd=y
CONFIG_PACKAGE_luci-app-ssr-plus=y
# CONFIG_PACKAGE_luci-app-ssr-plus_INCLUDE_ShadowsocksR_Libev_Client is not set
CONFIG_PACKAGE_luci-app-ssr-plus_INCLUDE_Shadowsocks_NONE_Client=y
CONFIG_PACKAGE_luci-app-ssr-plus_INCLUDE_Shadowsocks_NONE_Server=y
# CONFIG_PACKAGE_luci-app-ssr-plus_INCLUDE_Shadowsocks_Rust_Client is not set
# CONFIG_PACKAGE_luci-app-ssr-plus_INCLUDE_Shadowsocks_Rust_Server is not set
# CONFIG_PACKAGE_luci-app-ssr-plus_INCLUDE_Shadowsocks_Simple_Obfs is not set
CONFIG_PACKAGE_luci-app-ttyd=y
CONFIG_PACKAGE_luci-app-upnp=y
CONFIG_PACKAGE_luci-app-usb-printer=y
CONFIG_PACKAGE_luci-app-vlmcsd=y
CONFIG_PACKAGE_luci-base=y
CONFIG_PACKAGE_luci-compat=y
CONFIG_PACKAGE_luci-lib-base=y
CONFIG_PACKAGE_luci-lib-chartjs=y
CONFIG_PACKAGE_luci-lib-docker=y
CONFIG_PACKAGE_luci-lib-ip=y
CONFIG_PACKAGE_luci-lib-ipkg=y
CONFIG_PACKAGE_luci-lib-jsonc=y
CONFIG_PACKAGE_luci-lib-nixio=y
CONFIG_PACKAGE_luci-lua-runtime=y
CONFIG_PACKAGE_luci-theme-material=y
CONFIG_PACKAGE_microsocks=y
CONFIG_PACKAGE_miniupnpd-nftables=y
CONFIG_PACKAGE_mosdns=y
CONFIG_PACKAGE_mount-utils=y
CONFIG_PACKAGE_mpg123=y
CONFIG_PACKAGE_nano=y
CONFIG_PACKAGE_netdata=y
CONFIG_PACKAGE_nfs-kernel-server=y
CONFIG_PACKAGE_nfs-kernel-server-utils=y
CONFIG_PACKAGE_nfs-utils=y
CONFIG_PACKAGE_nfs-utils-libs=y
CONFIG_PACKAGE_nlbwmon=y
CONFIG_PACKAGE_nqptp=y
CONFIG_PACKAGE_openssl-util=y
CONFIG_PACKAGE_p910nd=y
CONFIG_PACKAGE_pianod=y
CONFIG_PACKAGE_pianod-client=y
CONFIG_PACKAGE_protobuf=y
CONFIG_PACKAGE_protobuf-lite=y
CONFIG_PACKAGE_ps3netsrv=y
CONFIG_PACKAGE_resolveip=y
CONFIG_PACKAGE_rpcbind=y
CONFIG_PACKAGE_rpcd=y
CONFIG_PACKAGE_rpcd-mod-file=y
CONFIG_PACKAGE_rpcd-mod-luci=y
CONFIG_PACKAGE_rpcd-mod-ucode=y
CONFIG_PACKAGE_runc=y
CONFIG_PACKAGE_sbc=y
CONFIG_PACKAGE_shadowsocksr-libev-ssr-check=y
CONFIG_PACKAGE_shairport-sync-openssl=y
CONFIG_PACKAGE_spotifyd=y
CONFIG_PACKAGE_srt=y
CONFIG_PACKAGE_sysfsutils=y
CONFIG_PACKAGE_taglib=y
CONFIG_PACKAGE_tc-tiny=y
CONFIG_PACKAGE_tcping=y
CONFIG_PACKAGE_terminfo=y
CONFIG_PACKAGE_tini=y
CONFIG_PACKAGE_ttyd=y
CONFIG_PACKAGE_ucode-mod-html=y
CONFIG_PACKAGE_ucode-mod-log=y
CONFIG_PACKAGE_ucode-mod-lua=y
CONFIG_PACKAGE_ucode-mod-math=y
CONFIG_PACKAGE_uhttpd=y
CONFIG_PACKAGE_vlmcsd=y
CONFIG_PACKAGE_wayland-protocols=y
CONFIG_PACKAGE_wsdd2=y
CONFIG_PACKAGE_xray-core=y
CONFIG_PACKAGE_xtables-nft=y
CONFIG_RPCBIND_LIBWRAP=y
CONFIG_RPCBIND_RMTCALLS=y
CONFIG_SQLITE3_COLUMN_METADATA=y
CONFIG_SQLITE3_DYNAMIC_EXTENSIONS=y
CONFIG_SQLITE3_FTS3=y
CONFIG_SQLITE3_FTS4=y
CONFIG_SQLITE3_FTS5=y
CONFIG_SQLITE3_RTREE=y
CONFIG_SRT_MONOTONIC_CLOCK=y
CONFIG_SRT_OPENSSL=y
CONFIG_ZSTD_OPTIMIZE_O3=y
